/* Палитра отсюда: https://lospec.com/palette-list/endesga-64 */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background: #272727;
    --foreground: #ffffff;
    --cardBackground: #3d3d3d;
    --cardBorder: #5d5d5d;

    --success: #33984b; 
    --successBorder: #5ac54f;
    --successFg: #ffffff;
    --successHover: #5ac54f;
    
    --error: #ea323c; 
    --errorBorder: #c42430;
    --errorFg: #ffffff;
    --errorHover: #ea323c;
    
    --warn: #ed7614; 
    --warnBorder: #ffa214 ;

    --myMsg: #33984b ;
    --botMsg: #db3ffd;
    --metaInfo: #272727;
    --msgHightlight: #5d5d5d;
}

body {
    font-family: "Lato";
    color: #ccc;
    background-color: var(--background);
}

/* Список сообщений */
#msgList {
    width: 75%;
    overflow-y: scroll;
    margin-left: auto; 
    margin-right: auto; 
}

/* Поле ввода сообщения */
#userMessage {
    padding: 0.5em;
    width: 100%;
    background-color:  var(--cardBackground);
    border: 2px solid var(--cardBorder);
    color: var(--foreground);
    outline: none;
    border-radius: 5px;
    font-size: 12pt;
    font-family: "Lato";
    height: 100%;
}

#userMessage:focus {
    border-color: var(--success) ;
}

#keyboardHide {
    display: none;
}

/* Контейнер сообщения */
.message-container {
    width: 100%;
    padding: 0.25em 0;
}
.message-container:target {
    background: repeating-linear-gradient(-60deg, var(--msgHightlight) 0, var(--msgHightlight) 1px, transparent 1px, transparent 5px);
}

/* Карточки информации (встраиваются в контейнер сообщения) */
.card {
    max-width: 800px;
    background-color: var(--cardBackground);
    border-radius: 5px;
    border: 2px solid var(--cardBorder);
    margin: 0 auto;
    padding: 0.5em;
    color: var(--foreground);
    position: relative;
}
.card.error pre {
    /* Стек ошибки */
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}
.card .title {
    /* Заголовок карточки */
    font-weight: bold;
    font-size: 16pt;
}
.card .close-button {
    float: right;
    font-size: 14pt;
    color: white;
    text-decoration: none;
}

/* Сообщение от пользователя */
.message {
    min-width: 25%;
    max-width: 50%;
    background-color: var(--myMsg);
    color: var(--foreground);
    border-radius: 10px 0px 10px 10px;
    padding: 0.5em;
    font-size: 11pt;
    margin-right: 16px;
    margin-left: auto;
    word-wrap: break-word;
    width: max-content;
}
.message.from-bot {
    /* Сообщение от бота */
    background-color: var(--botMsg);
    margin-left: 16px;
    border-radius: 0px 10px 10px 10px;
}
.message-info {
    /* Метаданные сообщения */
    font-size: 10pt;
    font-style: italic;
    color: var(--metaInfo);
}
.message-info > a {
    color: #131313 ;
}

/* Клавиатуры */
.keyboard {
    width: 100%;
}
.keyboard-row {
    width: 100%;
    display: flex;
}
.keyboard-row > button {
    flex: 1;
}
#plainkeyboard {
    padding-top: 0.5em;
    display: none;
}

/* Изображения */
.message > img {
    width: 100%;
    margin-top: 0.5em;
}

/* Элементы управления */
#msgControls {
    width: 100%;
    min-height: 64px;
    height: max-content;
    bottom: 0;
    border-top: 1px solid var(--cardBorder);
    background-color: var(--cardBackground);
    display: flex;
    align-items: center;
    flex-flow: column;
    padding: 0 1em;
}
#messageBox {
    display: grid;
    grid-template-columns: 42px 80% auto;
    grid-template-rows: 42px;
    grid-gap: 1em;
    padding-top: 0.5em;
    width: 100%;
}
#toggleKeyboard {
    display: flex;
}
.icon path {
    fill: var(--foreground);
}
#wrapper {
    display: grid;
    grid-template-rows: 1fr max-content;
    grid-template-columns: auto;
    height: 100vh;
}

/* Кнопки */
.btn {
    background-color: #333;
    border: 2px solid #404040;
    padding: 0.5em;
    color: #ccc;
    font-size: 1rem;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12pt;
    cursor: pointer;
    font-family: "Lato";
}
.btn:hover {
    background-color: #4D4D4D;
}
.btn:active,
.btn:focus,
.btn.selected {
    background-color: #252525;
}

/* Ссылки в карточках */
.card a {
    font-weight: bold;
    text-decoration: underline;
}

/* Ошибка */
.error {
    border-color: var(--errorBorder);
    background-color: var(--error);
}
.card.error a {
    /* Ссылки в карточках ошибки */
    color: #571c27;
}

/* Предупреждение */
.warning {
    border-color: var(--warnBorder);
    background-color: var(--warn);
}
.card.warning a {
    /* Ссылки в карточках предупреждений */
    color: #8e251d;
}

/* Успех */
.success,
.success:focus {
    border-color: var(--successBorder);
    background-color: var(--success);
    color: var(--successFg);
}
.success:hover {
    background-color: var(--success);
}