* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Lato";
    color: #ccc;
    background-color: #282828;
}

/* Список сообщений */
#msgList {
    position: absolute;
    top: 0;
    bottom: 64px;
    width: 75%;
    overflow-y: scroll;
    background: #282828;
    background-size: cover;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
}

/* Контейнер сообщения */
.message-container {
    width: 100%;
    padding: 0.25em 0;
}
.message-container:target {
    background: repeating-linear-gradient(-60deg, #7c6f64 0, #7c6f64 1px, transparent 1px, transparent 5px);
}
.message-container a {
    /* Ссылки */
    font-weight: bold;
    text-decoration: underline;
}

/* Карточки информации (встраиваются в контейнер сообщения) */
.card {
    max-width: 800px;
    background-color: #3c3836;
    border-radius: 5px;
    border: 1px solid #504945;
    margin: 0 auto;
    padding: 0.5em;
    color: #cecac7;
}
.card.error pre {
    /* Стек ошибки */
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}
.card .title {
    /* Заголовок карточки */
    font-weight: bold;
    font-size: 16pt;
}

/* Сообщение от пользователя */
.message {
    min-width: 64px;
    max-width: 50%;
    background-color: #b16286;
    color: #ebdbb2;
    border-radius: 5px;
    padding: 0.5em;
    font-size: 11pt;
    margin-right: 16px;
    margin-left: auto;
    word-wrap: break-word;
    width: max-content;
}
.message.from-bot {
    /* Сообщение от бота */
    background-color: #689d6a;
    margin-left: 16px;
}
.message-info {
    /* Метаданные сообщения */
    font-size: 9pt;
    font-style: italic;
    color: #282828;
}
.message-info > a {
    color: #282828;
}

/* Клавиатуры */
.inline-keyboard {
    width: 100%;
}
.inline-keyboard-row {
    width: 100%;
    display: flex;
}
.inline-keyboard-row > button {
    flex-grow: 1;
}

/* Изображения */
.message > img {
    width: 100%;
    margin-top: 0.5em;
}

/* Элементы управления */
#msgControls {
    width: 100%;
    height: 64px;
    position: fixed;
    bottom: 0;
    border-top: 1px solid #808080;
    background-color: #423e3d;
    display: flex;
    align-items: center;
}
#messageBox {
    display: grid;
    grid-template-columns: 80% auto;
    grid-gap: 1em;
    padding: 0 1em;
    padding-top: 0.5em;
    width: 100%;
}

/* Кнопки */
.btn {
    background-color: #333;
    border: 1px solid #404040;
    padding: 0.5em;
    color: #ccc;
    font-size: 1rem;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 0.1em;
    font-size: 12pt;
    cursor: pointer;
    font-family: "Lato";
}
.btn:hover {
    background-color: #4D4D4D;
}
.btn:active,
.btn:focus,
.btn.selected {
    background-color: #252525;
}

/* Поле ввода */
.inp {
    padding: 0.5em;
    margin: 0.1em 0;
    width: 100%;
    background-color: #423e3d;
    color: #ccc;
    outline: none;
    border-radius: 5px;
    font-size: 12pt;
    border: 1px solid #7e7f7a;
    font-family: "Lato";
}

.inp:hover,
.inp:focus {
    border-color: #7e7f7a;
}

.inp:focus {
    color: #ddd;
}

/* Ошибка */
.error {
    border-color: #FF000C;
    background-color: #c8474d;
}
/* Предупреждение */
.warning {
    border-color: #FF8E00;
    background-color: #C87D47;
}
/* Успех */
.success,
.success:focus {
    border-color: #00FF0C;
    background-color: #224B24;
}
.success:hover {
    background-color: #366339;
}